:root {
  --dark-fg-color: white;
  --dark-bg-color: black;
  --dark-container-color: #2c2c2c;

  --light-fg-color: black;
  --light-bg-color: white;
  --light-container-color: white;
}

@keyframes borderPulse {
  0% {
    border-bottom: 1px solid #f89581;
  }

  50% {
    border-bottom: 1px solid #feaa9a;
  }

  100% {
    border-bottom: 1px solid #feded8;
  }
}

.animatedBorder {
  animation: borderPulse 3s infinite;
}

.App {
  margin-bottom: 30px;
}

/* .dense-button {
  padding: 2px 4px;
  line-height: 1;
} */

.nav-link {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: hand;
  cursor: pointer;
}

.tab-link {
  color: red;
}

.nav-tabs a.nav-link:hover {
  color: red;
}

.nav-tabs .nav-link.active {
  background-color: whitesmoke;
}

.nav-tabs .nav-link.active:hover {
  color: red;
  background-color: whitesmoke;
}

.horizontal-line,
.vertical-line {
  position: absolute;
  will-change: transform;
  /* Hint to the browser for optimization */
}

.horizontal-line {
  position: absolute;
  width: 100%;
  height: 1px;
  z-index: 3;
  pointer-events: none;
  border-top: 1px dotted grey;
}

.vertical-line {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  border-left: 1px dotted grey;
  z-index: 3;
  pointer-events: none;
}

.btn-dense {
  margin-right: 2px !important;
  margin-bottom: 0 !important;
}

[data-theme="dark"] {
  --font-color: var(--dark-fg-color);
  --bg-color: var(--dark-bg-color);
  --bg-container-color: var(--dark-container-color);
  /* --link-color: #3bd1ff; */
}

[data-theme="light"] {
  --font-color: var(--light-fg-color);
  --bg-color: var(--light-bg-color);
  --bg-container-color: var(--light-container-color);
  /* --link-color: #3f51b5; */
}

.bg {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.svg-text-bg {
  fill: var(--font-color);
}

.svg-line-bg {
  stroke: var(--font-color);
}

.darkToggleBox {
  vertical-align: middle;
  margin-left: 1ch;
}

/* a {
    color: var(--link-color) !important;
} */

/* genomepicker */

[data-theme="light"] hr {
  border-top: 1px solid rgb(80 80 80 / 30%);
}

[data-theme="dark"] hr {
  border-top: 1px solid rgb(223 220 220 / 30%);
}

[data-theme="light"] .MuiCard-root {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

[data-theme="dark"] .MuiCard-root {
  box-shadow: 0px 2px 1px -1px rgb(255 255 255 / 20%),
    0px 1px 1px 0px rgb(255 255 255 / 14%),
    0px 1px 3px 0px rgb(255 255 255 / 12%);
}

[data-theme="light"] .MuiListItem-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .MuiListItem-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

[data-theme="light"] .MuiAppBar-colorDefault {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
}

[data-theme="dark"] .MuiAppBar-colorDefault {
  color: rgba(255, 255, 255, 0.87);
  background-color: #222;
}

[data-theme="light"] .MuiTab-textColorPrimary {
  color: rgb(0 0 0 / 70%);
}

[data-theme="light"] .MuiTab-textColorPrimary.Mui-selected {
  color: #3f51b5;
}

[data-theme="dark"] .MuiTab-textColorPrimary {
  color: rgb(255 254 254 / 70%);
}

[data-theme="dark"] .MuiTab-textColorPrimary.Mui-selected {
  color: #6e84ff;
}

/* nav.js */

[data-theme="light"] .MuiIconButton-root {
  color: rgba(0, 0, 0, 0.54);
}

[data-theme="dark"] .MuiIconButton-root {
  color: rgba(255, 255, 255, 0.7);
}

/* trackcontainer */

/* [data-theme="light"] .btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
} */

[data-theme="dark"] .btn-outline-secondary {
  color: #dfe4e8;
  border-color: #dfe4e8;
}

[data-theme="light"] .btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

[data-theme="light"] .btn-light.disabled,
.btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

[data-theme="dark"] .btn-light {
  color: white;
  background-color: transparent;
  border-color: #dfe4e8;
}

[data-theme="dark"] .btn-light.disabled,
.btn-light:disabled {
  /* background-color: transparent; */
  border-color: #f8f9fa;
}

/* hub table */

.ReactTable .-pagination .-btn {
  color: unset !important;
}

.ReactTable .-pagination .-btn[disabled] {
  opacity: 1;
}

.ReactTable .rt-expander:after {
  border-top: 7px solid rgba(152, 152, 152, 0.8) !important;
}

/* shareUI */

#shareUI .MuiTab-textColorSecondary {
  color: unset;
}
