.MetadataSelectionMenu ul {
  list-style-type: none;
}
.MetadataSelectionMenu {
  position: absolute;
  background: var(--bg-color);
  padding: 5px;
  /* right: 60px; */
  /* top: 40px; */
  min-width: 240px;
  z-index: 9;
}

.MetadataSelectionMenu button {
  padding: 0 4px;
}
.MetadataSelectionMenu input {
      border: #409393 1px solid;
    padding: 2px;
    margin-right: 4px;
    border-radius: 4px;
}